# macOS
.DS_Store
**/.DS_Store
._*
.DS_Store?
*.DS_Store?

# Python
*.py[cod]
*$py.class
*.so
.Python
__pycache__/
*.egg-info/
.pytest_cache/
.coverage
htmlcov/
.pylint_cache/
.mypy_cache/
.dmypy.json
dmypy.json

# Environment variables
.env
.venv
env/
venv/
ENV/

# IDEs
.vscode/
.idea/
*.swp
*.swo